*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
body{
    background: linear-gradient(45deg, #190361 0%, #BB00FF 100%);
    height: 100vh;
    font-size: 1.6rem;

    display: grid;
    place-items: center;
}
main{
    background: #FFFFFF;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
    border-radius: .5rem;

    padding: 4.8rem  6.4rem 6.4rem;
    width: min(42.8rem, 90%);
}
.screen1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: #34355B;

    text-align: center;

    margin-bottom: 1.4rem;
}
main p{
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #34355B;

    margin-bottom: 2rem;
}
.screen1 img:hover{
    animation: rotate .2s infinite;
    cursor: pointer;
}
@keyframes rotate{
    0%{
        transform: translateX(1rem) translateY(1rem);
        
    }
    25%{
        transform: translateX(0) translateY(1rem);
    }
    50%{
        transform: translateX(1rem) translateY(0);
    }
    100%{
        transform: translateX(0) translateY(0);
    }
}
.screen2{
    display: grid;
    place-items: center;
}
.screen2 .text p{
    background: #E4EDF1;
    box-shadow: .2rem .2rem .2rem rgba(85, 85, 85, 0.5);

    font-family: 'Dancing Script';
    font-size: 2.4rem;
    line-height: 2.9rem;
    text-align: center;
    color: #000000;


	animation: msgUp 1s linear both;
}
.screen2 button{
    background: #FF9500;
    border-radius: .4rem;
    border:none;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;

    text-align: center;

    color: #FFFFFF;

    padding: 1.6rem;

    cursor: pointer;
}
.screen2 button:hover{
    background: #ca7600;
}
  @keyframes msgUp {
    0% {
    transform: translateZ(16rem) translateY(16rem) scale(0.1);
    }
    100% {
      transform: translateZ(0rem) translateY(0rem) scale(1);
    }
  }
  .hide{
    display: none;
}